<style lang="less">
  @import './login.less';
</style>

<template>
  <div class="login">
    <div class="login-con">
      <Card icon="log-in" title="欢迎登录" :bordered="false">
        <div class="form-con">
          <login-form @on-success-valid="handleSubmit"></login-form>
          <!-- <p class="login-tip">输入任意用户名和密码即可</p> -->
        </div>
      </Card>
    </div>
        <Modal v-model="modalProduct" width="360">
      <p slot="header" style="text-align:center">
        <span>重置密码</span>
      </p>
      <div style="text-align:center">
        <div class="product">
          <span>旧密码:</span>
          <Input
            v-model="oldPass"
            type='password'
            placeholder="请输入旧密码"
            style="width: 300px"
          />
        </div>
        <div class="product">
          <span>新密码:</span>
          <Input
            v-model="pass"
            type='password'
            placeholder="请输入新密码"
            style="width: 300px"
          />
        </div>
        <div class="product">
          <span>确认密码:</span>
          <Input
            v-model="verifyPass"
            type='password'
            placeholder="请再次输入新密码"
            style="width: 300px"
          />
        </div>
        <div class="pass" v-if="isTrue">
          <span>俩次密码不一致</span>
        </div>
      </div>
      <div slot="footer" style="text-align:center">
        <Button type="primary" size="large" @click="submit()">提交</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import LoginForm from '_c/login-form'
import { mapActions } from 'vuex'
import { isReset, resetLogin } from '@/api/user.js'
export default {
  components: {
    LoginForm
  },
  data () {
    return {
      modalProduct: false,
      pass: '',
      verifyPass: '',
      isTrue: false,
      oldPass: ''
    }
  },
  methods: {
    ...mapActions([
      'handleLogin',
      'getUserInfo'
    ]),
    handleSubmit ({ userName, password }) {
      this.handleLogin({ userName, password }).then(res => {
        this.getUserInfo().then(res => {
          isReset(res.id).then(response => {
            if (response.data.isDefaultPwd === 1) {
              this.modalProduct = true
            } else {
              this.$router.push({
                name: this.$config.homeName
              })
            }
          }).catch(err => {
            console.log(err)
          })
          console.log(res)
        })
      })
    },
    submit () {
      if (this.pass !== this.verifyPass) {
        this.isTrue = true
        return
      }
      this.isTrue = false
      let data = {
        newPwd: this.pass,
        oldPwd: this.oldPass
      }
      resetLogin(data).then(res => {
        this.$router.push({
          name: this.$config.homeName
        })
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>

<style scoped lang="less">
.product {
  margin-top: 20px;
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    width: 105px;
  }
}
.pass{
  margin-top: 10px;
  span{
    color:red
  }
}
</style>
