<template>
  <div class="main">
    <div class="search">
      <span class="searchName">店铺编码:</span>
      <Input v-model="productName" placeholder="请输入店铺编码" class="input" />
      <span class="searchNum">状态:</span>
      <Select  style="width:200px" @on-change="selectChange" ref="select" clearable>
        <Option
          v-for="item in cityList"
          :value="item.value"
          :key="item.value"
          >{{ item.label }}</Option
        >
      </Select>
      <Button
        type="primary"
        style="margin-right:10px;margin-left:10px"
        @click="search()"
        >查询</Button
      >
      <Button
        type="primary"
        style="margin-right:10px;margin-left:10px"
        @click="reset()"
        >重置</Button
      >
    </div>
    <div class="search">
      <Button class="reset" type="error" @click="del()">删除</Button>
      <Upload
        @uploadSuccess="uploadSuccess"
        :file-type="fileType"
        style="marginLeft:10px;cursor: pointer;"
      >
        <span style="color:white;margin-right:0">上传</span>
      </Upload>
    </div>
    <Table :data="tableData" :columns="columns" @on-selection-change="onSelectionChange">
      <template slot-scope="{ row, index }" slot="number">
        <span>{{ index + 1 }}</span>
      </template>
      <template slot-scope="{ row }" slot="storeCode">
        <span class="rowEli">{{ row.storeCode }}</span>
      </template>
      <template slot-scope="{ row }" slot="storeName">
        <span class="rowEli">{{ row.storeName}}</span>
      </template>
      <template slot-scope="{ row }" slot="gmtCreate">
        <span class="rowEli">{{ row.gmtCreate }}</span>
      </template>
      <template slot-scope="{ row }" slot="storeCheckName">
        <span class="rowEli">{{ row.storeCheckName }}</span>
      </template>
      <template slot-scope="{ row }" slot="status">
        <span class="rowEli" v-if="row.status === 0">未开始</span>
        <span class="rowEli" v-if="row.status === 1">分析中</span>
        <span class="rowEli" v-if="row.status === 2">已完成</span>
        <span class="rowEli" v-if="row.status === 3">有异常</span>
      </template>
      <template slot-scope="{ row }" slot="checkResultUrl">
        <a class="rowEli" v-if="row.checkResultUrl!==null" style=" cursor: pointer" @click="downModel(row.checkResultUrl,row.storeCheckName)">下载</a>
        <span class="rowEli" v-else >暂无信息</span>
      </template>
       <template slot="hisAction" slot-scope="{ row }">
          <Button @click="historyDel(row.id)" type="error">删除</Button>
      </template>
    </Table>
    <div style="margin-top: 10px;overflow: hidden">
      <div style="float: right;">
        <Page
          :total="total"
          :current="pageCurrent"
          :page-size="pageSize"
          :show-total="true"
          show-sizer
          @on-page-size-change="changePageSize"
          @on-change="changePage"
        >
        </Page>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { getCode,deletCode } from "@/api/code.js";
import axios from "axios";
import Upload from "_c/upload";

export default {
  components: {
    Upload
  },
  data() {
    return {
      fileType:0,
      cityList: [
        {
          value: "0",
          label: "未开始"
        },
        {
          value: "1",
          label: "分析中"
        },
        {
          value: "2",
          label: "已完成"
        },
        {
          value: "3",
          label: "有异常"
        }
      ],
      productName: "",
      productModel: "",
      columns: [
        {type: 'selection',width: 60,align: 'center'},
        { title: "序号", width: 60, slot: "number", align: "center" },
        { title: "店铺编码", slot: "storeCode", align: "center" },
        { title: "店铺名称", slot: "storeName", align: "center" },
        { title: "上传日期", slot: "gmtCreate", align: "center" },
        { title: "店铺对账单名称", slot: "storeCheckName", align: "center" },
        { title: "状态", slot: "status", align: "center" },
        { title: "对账单结果", slot: "checkResultUrl", align: "center" },
        { title: '操作', slot: 'hisAction', align: 'center' }
      ],
      tableData: [],
      total: 0,
      pageCurrent: 1,
      pageSize: 10,
      selectList:[],
      checkList:[]
    };
  },
  methods: {
    onSelectionChange (selection) {
      this.checkList = selection
      let list = []
      selection.forEach((item, index) => {
        list.push(item.id)
      })
      this.selectList = list
      console.log(this.selectList)
    },
    deleteIndent(data) {
      this.$Modal.confirm({
        title: "提示",
        content: "<p>确定删除吗?</p>",
        onOk: () => {
          deletCode(data)
            .then(res => {
              this.$Message.success("删除成功");
              this.selectList=[]
              this.createData();
            })
            .catch(err => {
              console.log(err);
            });
        },
        onCancel: () => {}
      });
    },
    historyDel(id){
      let data = { ids: [id] };
      this.deleteIndent(data);
    },
    del(){
      let data = { ids: this.selectList };
      if(this.selectList.length==0){
         this.$Message.warning("删除内容不能为空");
      }else{
         this.deleteIndent(data);
      }
    },
    downModel(value,name) {
       //同源文件信息
        let script = document.createElement('a');
        script.setAttribute('href','http://192.168.30.220:8080'+value);
        script.setAttribute('target', '_blank');
        script.setAttribute("download", `${name}.xlsx`);
        document.body.appendChild(script);
        script.click();
        document.body.removeChild(script);

        //非同源文件信息
        // fetch('https://youtil-platform.oss-cn-shanghai.aliyuncs.com/upload/File/2019-12-06/1191111381345113233358820093.xlsx').then(res => res.blob().then(blob => {
        //   var a = document.createElement('a');
        //   var url = window.URL.createObjectURL(blob);
        //   var filename = 'aaaaaaaa.xlsx';
        //   a.href = url;
        //   a.download = filename;
        //   a.click();
        //   window.URL.revokeObjectURL(url);
        // }));
    },
    uploadSuccess (data, name) {
       this.$Message.success('上传成功')
       this.createData();
    },
    selectChange(val) {
      this.productModel = val;
    },
    publicData() {
      let data= {
        storeCode: this.productName,
        status: this.productModel,
        pageNum: this.pageCurrent,
        pageSize: this.pageSize
      };
      this.getCode(data);
    },
    changePageSize(pageSize) {
      this.pageCurrent = 1;
      this.pageSize = pageSize;
      this.publicData();
    },
    changePage(pageNumber) {
      this.pageCurrent = pageNumber;
      this.publicData();
    },
    search() {
      this.pageCurrent = 1;
      this.publicData();
    },
    reset() {
      this.productName = "";
       this.$refs.select.clearSingleSelect()
      this.createData();
    },
    createData() {
      let data = {
        pageNum: this.pageCurrent,
        pageSize: this.pageSize
      };
      this.getCode(data);
    },
    getCode(data) {
      getCode(data).then(res => {
        console.log(res)
        this.tableData = res.data.result.list
        this.total = res.data.result.total
      }).catch(err => {
        console.log(err)
      })
    }
  },
  created() {
    // this.createData();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.main {
  /* text-align: center; */
}
.modelContent {
  p {
    color: red;
  }
}
.deleteImg {
  width: 16px;
  height: auto;
  cursor: pointer;
}
.imgContent {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.uploadBox {
  position: relative;
  top: 15px;
  margin-bottom: 18px;
}
.main /deep/ .ivu-table-wrapper {
  overflow: visible;
}
.search {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  span {
    margin-right: 10px;
  }
  .input {
    margin-right: 30px;
    width: 150px;
  }
  .reset {
    margin-right: 10px;
  }
}
#app /deep/ .ivu-modal-body {
  text-align: center;
}
.see {
  cursor: pointer;
  color: #169bd5;
}
.product {
  margin-top: 15px;
  display: flex;
  align-items: center;
  span {
    width: 80px;
  }
}
.uploadImg {
  width: 65px;
  height: 65px;
  margin-right: 10px;
}
.red {
  color: red;
}
.rowEli {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
