<template>
  <div class="editor-wrapper">
    <div :id="editorId"></div>
  </div>
</template>
<script>
import { upload } from '@/api/code.js'
import Editor from 'wangeditor'
import { oneOf } from '@/libs/tools'

export default {
  name: 'Editor',
  props: {
    value: {
      type: String,
      default: ''
    },
    /**
     * 绑定的值的类型, enum: ['html', 'text']
     */
    valueType: {
      type: String,
      default: 'html',
      validator: val => oneOf(val, ['html', 'text'])
    },
    /**
     * @description 设置change事件触发时间间隔
     */
    changeInterval: {
      type: Number,
      default: 200
    },
    /**
     * @description 是否开启本地存储
     */
    cache: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    editorId () {
      return `editor${this._uid}`
    }
  },
  mounted () {
    this.editor = new Editor(`#${this.editorId}`)
    this.editor.customConfig.onchange = html => {
      const text = this.editor.txt.text()
      if (this.cache) localStorage.editorCache = html
      this.$emit('input', this.valueType === 'html' ? html : text)
      this.$emit('on-change', html, text)
    }
    this.editor.customConfig.onchangeTimeout = this.changeInterval

    // 自定义上传事件
    this.editor.customConfig.customUploadImg = function (files, insert) {
      const formData = new FormData()
      const params = {
        'file': files[0]
      }
      // tslint:disable-next-line:forin
      for (const k in params) {
        formData.append(k, params[k])
      }
      upload(formData).then(res => {
        let data = res.data[0].url
        insert(data)
      }).catch(err => {
        console.log(err)
      })
    }
    this.editor.create()
    // 如果本地有存储加载本地存储内容
    const html = localStorage.editorCache
    if (html) this.editor.txt.html(html)
  },
  methods: {
    getUEContent () { // 获取内容方法html
      return this.editor.txt.html()
    },
    setUEContent (content) { // 获取内容方法html
      return this.editor.txt.html(content)
    },
    clearUe () { // 清空编辑器缓存
      this.editor.txt.clear()
    },
    getUETetx () { // 获取内容方法html
      return this.editor.txt.text()
    }
  }
}
</script>

<style scoped>
.w-e-text-container {
  height: 700px !important; /*!important是重点，因为原div是行内样式设置的高度300px*/
}
</style>
