<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>babycare</title>
  <script type="text/javascript" src="<%= BASE_URL %>plupload/plupload.full.min.js"></script>
  <script type="text/javascript" src="<%= BASE_URL %>plupload/i18n/zh_CN.js"></script>
  <script>
    //rem转换
    function rem() {
      var w = Math.min(document.documentElement.getBoundingClientRect().width, 500);
      document.getElementsByTagName('html')[0].style.fontSize = w * 100 / 375 + 'px';
    }
    rem();
    window.onresize = function () {
      rem();
    };

  </script>
</head>

<body id="body">
  <noscript>
    <strong>We're sorry but iview-admin doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
