<template>
  <div class="main">
    <Col class="demo-spin-col" span="8" v-if="isLoading">
      <Spin fix>
        <Icon type="ios-loading" size="18" class="demo-spin-icon-load"></Icon>
        <div>上传中</div>
      </Spin>
    </Col>
    <div class="container" @click="selectFile">
      <input
        class="upload-input"
        ref="fileInput"
        type="file"
        @change="upload($event)"
      />
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { uploadCode, uploadIndent,uploadProduct } from "@/api/code.js";

export default {
  props: {
    fileType: {
      type: Number,
      default: 0
    },
    portType: {
      type: Number,
      default: 0
    },
    codeType: {
      type: Number,
      default: 0
    },
    fileKey: {
      type: String,
      default: ""
    },
    code: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      name: "",
      isLoading: false
    };
  },
  methods: {
    selectFile() {
      this.$refs.fileInput.click();
    },
    filesUpload(event) {
      this.isLoading = true;
      const formData = new FormData();
      const params = {
        file: event.target.files[0]
      };
      // tslint:disable-next-line:forin
      for (const k in params) {
        formData.append(k, params[k]);
      }
      if (this.fileType === 0) {
        uploadCode(formData)
          .then(res => {
            if(res.data.code==200){
                this.isLoading = false;
                this.$emit("uploadSuccess", res.data, event.target.files[0].name);
                this.$refs.fileInput.value = "";
            }else{
                this.isLoading = false;
                this.$Message.error(res.data.msg);
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else if(this.fileType === 1){
        uploadIndent(formData)
          .then(res => {
            if(res.data.code==200){
                this.isLoading = false;
                this.$emit("uploadSuccess", res.data, event.target.files[0].name);
                this.$refs.fileInput.value = "";
            }else{
                this.isLoading = false;
                this.$Message.error(res.data.msg);
            }
          })
          .catch(err => {
            console.log(err);
          });
      }else{
        uploadProduct(formData)
          .then(res => {
            if(res.data.code==200){
                this.isLoading = false;
                this.$emit("uploadSuccess", res.data, event.target.files[0].name);
                this.$refs.fileInput.value = "";
            }else{
                this.isLoading = false;
                this.$Message.error(res.data.msg);
            }
          })
          .catch(err => {
            console.log(err);
          });
      }
      // 判断是商品上传还是报告上传
      // if (this.codeType === 1) {
      //   // 判断调用批量商品上传接口
      //   if (this.portType === 1) {
      //     commodityUpload(formData).then(res => {
      //       this.isLoading = false
      //       this.$emit('uploadSuccess', res.data)
      //       // 清空input值，下次再选择同一张图，还可以上传。
      //       this.$refs.fileInput.value = ''
      //     }).catch(err => {
      //       console.log(err)
      //     })
      //   } else {
      //     upload(formData).then(res => {
      //       this.isLoading = false
      //       this.$emit('uploadSuccess', res.data, event.target.files[0].name)
      //       // 清空input值，下次再选择同一张图，还可以上传。
      //       this.$refs.fileInput.value = ''
      //     }).catch(err => {
      //       console.log(err)
      //     })
      //   }
      // } else {
      //   let data = {
      //     key: this.fileKey,
      //     code: this.code
      //   }
      //   upload(formData, data).then(res => {
      //     this.isLoading = false
      //     this.$emit('uploadSuccess', res.data, event.target.files[0].name)
      //     // 清空input值，下次再选择同一张图，还可以上传。
      //     this.$refs.fileInput.value = ''
      //   }).catch(err => {
      //     console.log(err)
      //   })
      // }
    },
    upload(event) {
      this.filesUpload(event);
      // // 判断只能上传图片 或者文件，图片都可以
      // if (this.fileType === 0) {
      //   this.filesUpload(event)
      // } else {
      //   let name = event.target.files[0].type.split('/')[1]
      //   if (name === 'pdf') {
      //     alert('只能上传图片')
      //   } else {
      //     this.filesUpload(event)
      //   }
      // }
    }
  }
};
</script>

<style lang="less" scoped>
.main {
  display: flex;
  align-items: center;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  background-color: #2d8cf0;
  border-radius: 5px;
}
.upload-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.demo-spin-col {
  height: 100px;
  position: relative;
  border: 1px solid #eee;
}
.main /deep/ .demo-spin-col {
  width: 80px;
  height: 0px;
  border: none;
}
</style>
