<template>
  <div class="main">
    <div class="search">
      <span class="searchName">店铺编码:</span>
      <Input v-model="storeCode" placeholder="请输入店铺编码" class="input" />
      <span class="searchName">自有商品编码:</span>
      <Input
        v-model="productCode"
        placeholder="请输入自有商品编码"
        class="input"
      />
      <span class="searchName">订单号:</span>
      <Input v-model="orderNo" placeholder="请输入订单号" class="input" />
      <Button
        type="primary"
        style="margin-right:10px;margin-left:10px"
        @click="search()"
        >查询</Button
      >
      <Button
        type="primary"
        style="margin-right:10px;margin-left:10px"
        @click="reset()"
        >重置</Button
      >
    </div>
    <div class="search">
      <Button class="reset" type="error" @click="del()">删除</Button>
      <Upload
        @uploadSuccess="uploadSuccess"
        :file-type="fileType"
        style="marginLeft:10px;cursor: pointer;"
      >
        <span style="color:white;margin-right:0">导入</span>
      </Upload>
    </div>
    <Table
      :data="tableData"
      :columns="columns"
      @on-selection-change="onSelectionChange"
    >
      <template slot-scope="{ row, index }" slot="number">
        <span>{{ index + 1 }}</span>
      </template>
      <template slot-scope="{ row }" slot="orderNo">
        <span class="rowEli">{{ row.orderNo }}</span>
      </template>
      <template slot-scope="{ row }" slot="skuId">
        <span class="rowEli">{{ row.skuId }}</span>
      </template>
      <template slot-scope="{ row }" slot="productCode">
        <span class="rowEli">{{ row.productCode }}</span>
      </template>
      <template slot-scope="{ row }" slot="storeCode">
        <span class="rowEli">{{ row.storeCode }}</span>
      </template>
      <template slot-scope="{ row }" slot="storeName">
        <span class="rowEli">{{ row.storeName }}</span>
      </template>
      <template slot-scope="{ row }" slot="orderNum">
        <span class="rowEli">{{ row.orderNum }}</span>
      </template>
      <template slot-scope="{ row }" slot="orderStatus">
        <span class="rowEli">{{ row.orderStatus }}</span>
      </template>
      <template slot-scope="{ row }" slot="orderType">
        <span class="rowEli">{{ row.orderType }}</span>
      </template>
      <template slot="hisAction" slot-scope="{ row }">
        <Button @click="historyDel(row.id)" type="error">删除</Button>
      </template>
    </Table>
    <div style="margin-top: 10px;overflow: hidden">
      <div style="float: right;">
        <Page
          :total="total"
          :current="pageCurrent"
          :page-size="pageSize"
          :show-total="true"
          show-sizer
          @on-page-size-change="changePageSize"
          @on-change="changePage"
        >
        </Page>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { getIndent, deletIndent } from "@/api/code.js";
import axios from "axios";
import Upload from "_c/upload";

export default {
  components: {
    Upload
  },
  data() {
    return {
      fileType: 1,
      storeCode: "",
      productCode: "",
      orderNo: "",
      columns: [
        { type: "selection", width: 60, align: "center" },
        { title: "序号", width: 60, slot: "number", align: "center" },
        { title: "订单号", slot: "orderNo", align: "center" },
        { title: "商家SKUID", slot: "skuId", align: "center" },
        { title: "商品编码", slot: "productCode", align: "center" },
        {
          title: "商品名称",
          slot: "productName",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.productName
                  }
                },
                params.row.productName
              )
            ]);
          }
        },
        { title: "店铺编码", slot: "storeCode", align: "center" },
        { title: "店铺名称", slot: "storeName", align: "center" },
        { title: "订单购买商品量", slot: "orderNum", align: "center" },
        {
          title: "订单完成时间",
          slot: "finishTime",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.finishTime
                  }
                },
                params.row.finishTime
              )
            ]);
          }
        },
        {
          title: "等待支付时间",
          slot: "waitPayTime",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.waitPayTime
                  }
                },
                params.row.waitPayTime
              )
            ]);
          }
        },
        { title: "订单状态", slot: "orderStatus", align: "center" },
        { title: "订单类型", slot: "orderType", align: "center" },
        { title: "操作", slot: "hisAction", align: "center" }
      ],
      tableData: [],
      total: 0,
      pageCurrent: 1,
      pageSize: 10,
      selectList: [],
      checkList: []
    };
  },
  methods: {
    onSelectionChange(selection) {
      this.checkList = selection;
      let list = [];
      selection.forEach((item, index) => {
        list.push(item.id);
      });
      this.selectList = list;
      console.log(this.selectList);
    },
    deleteIndent(data) {
      this.$Modal.confirm({
        title: "提示",
        content: "<p>确定删除吗?</p>",
        onOk: () => {
          deletIndent(data)
            .then(res => {
              this.$Message.success("删除成功");
               this.selectList=[]
              this.createData();
            })
            .catch(err => {
              console.log(err);
            });
        },
        onCancel: () => {}
      });
    },
    historyDel(id) {
      let data = { ids: [id] };
      this.deleteIndent(data);
    },
    del() {
      let data = { ids: this.selectList };
      if(this.selectList.length==0){
         this.$Message.warning("删除内容不能为空");
      }else{
         this.deleteIndent(data);
      }
    },
    uploadSuccess(data, name) {
      this.$Message.success("上传成功");
      this.createData();
    },
    selectChange(val) {
      this.productCode = val;
    },
    publicData() {
      let data = {
        storeCode: this.storeCode,
        productCode: this.productCode,
        orderNo: this.orderNo,
        pageNum: this.pageCurrent,
        pageSize: this.pageSize
      };
      this.getCode(data);
    },
    changePageSize(pageSize) {
      this.pageCurrent = 1;
      this.pageSize = pageSize;
      this.publicData();
    },
    changePage(pageNumber) {
      this.pageCurrent = pageNumber;
      this.publicData();
    },
    search() {
      this.pageCurrent = 1;
      this.publicData();
    },
    reset() {
      this.storeCode = "";
      this.orderNo = "";
      this.productCode = "";
      this.createData();
    },
    createData() {
      let data = {
        pageNum: this.pageCurrent,
        pageSize: this.pageSize
      };
      this.getCode(data);
    },
    getCode(data) {
      getIndent(data)
        .then(res => {
          this.tableData = res.data.result.list;
          this.total = res.data.result.total;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  created() {
    // this.createData();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.main {
  /* text-align: center; */
}
.modelContent {
  p {
    color: red;
  }
}
.deleteImg {
  width: 16px;
  height: auto;
  cursor: pointer;
}
.imgContent {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.uploadBox {
  position: relative;
  top: 15px;
  margin-bottom: 18px;
}
.main /deep/ .ivu-table-wrapper {
  overflow: visible;
}
.search {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  span {
    margin-right: 10px;
  }
  .input {
    margin-right: 30px;
    width: 150px;
  }
  .reset {
    margin-right: 10px;
  }
}
#app /deep/ .ivu-modal-body {
  text-align: center;
}
.see {
  cursor: pointer;
  color: #169bd5;
}
.product {
  margin-top: 15px;
  display: flex;
  align-items: center;
  span {
    width: 80px;
  }
}
.uploadImg {
  width: 65px;
  height: 65px;
  margin-right: 10px;
}
.red {
  color: red;
}
.rowEli {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.time {
  display: "inline-block";
  width: "100%";
  overflow: "hidden";
  text-overflow: "ellipsis";
  white-space: "nowrap";
}
</style>
