<template>
  <div>
    <div class="search">
      <span>名称:</span>
      <Input v-model="userName" placeholder="请输入名称" style="width: 200px" class="input"/>
      <span>工号:</span>
      <Input v-model="jobNumber" placeholder="请输入工号" style="width: 200px" class="input"/>
      <div>
        <Button type="primary" style="margin-right:10px" @click="search()">查询</Button>
        <Button class="reset" type="primary" @click="reset()">重置</Button>
        <Button class="reset" type="primary" @click="add()">添加</Button>
      </div>
    </div>
    <Card>
      <Table ref="tables" :data="tableData" :columns="columns" :highlight-row="true">
       <template slot-scope="{ row, index }" slot="number">
        <span>{{ index + 1 }}</span>
      </template>
      <template slot-scope="{ row }" slot="username">
        <span>{{ row.username }}</span>
      </template>
      <template slot-scope="{ row }" slot="empNo">
        <span>{{ row.empNo }}</span>
      </template>
      <template slot-scope="{ row }" slot="email">
        <span>{{ row.email }}</span>
      </template>
      <template slot-scope="{ row }" slot="action">
         <Button @click="edit(row.id)" style="margin-right:5px" type="primary">编辑</Button>
         <Button @click="deltet(row.id)" style="margin-right:5px" type="error" v-if="row.username!==isDel">删除</Button>
         <Button @click="tableReset(row.empNo)" type="primary">重置密码</Button>
      </template>
      </Table>
      <div style="margin-top: 10px;overflow: hidden">
        <div style="float: right;">
          <Page
            :total="total"
            :current="current"
            :page-size="pageSize"
            :show-total="true"
            show-sizer
            @on-page-size-change="changePageSize"
            @on-change="changePage"
          >
          </Page>
        </div>
    </div>
    </Card>
  </div>
</template>
<script>
import { userList, delUser, resetPass } from '@/api/user.js'
import store from '@/store'

export default {
  data () {
    return {
      isDel: '',
      userName: '',
      jobNumber: '',
      total: 0,
      current: 1,
      pageSize: 10,
      checkList: [],
      columns: [
        { title: '序号', width: 100, slot: 'number', align: 'center' },
        { title: '用户名', slot: 'username', align: 'center' },
        { title: '工号', slot: 'empNo', align: 'center' },
        { title: '邮箱', slot: 'email', align: 'center' },
        { title: '操作', slot: 'action', align: 'center', width: 300 }
      ],
      tableData: [],
      total: 0
    }
  },
  methods: {
    tableReset (id) {
      resetPass(id).then(res => {
        this.$Message.success('重置成功')
      }).catch(err => {
        console.log(err)
      })
    },
    search () {
      let data
       if (this.userName === '') {
        this.userName = undefined
      } if (this.jobNumber === '') {
        this.jobNumber = undefined
      }
      data = { username: this.userName, empNo: this.jobNumber,pageNo: this.current, pageSize: this.pageSize }
      this.getUser(data)
    },
    add () {
      this.$router.push({
        name: 'userSub'
      })
    },
    reset () {
      this.userName = ''
      this.jobNumber = ''
      this.createData()
    },
    edit (id) {
      this.$router.push({
        name: 'userSub',
        query: {
          editId: id
        }
      })
    },
    deltet (id) {
      this.$Modal.confirm({
        title: '提示',
        content: '<p>确定删除吗?</p>',
        onOk: () => {
          // 删除方法请求
          delUser(id).then(res => {
            this.$Message.success('删除成功')
            this.createData()
          }).catch(err => {
            console.log(err)
          })
        },
        onCancel: () => { }
      })
    },
    changePageSize (pageSize) {
      this.current = 1
      this.pageSize = pageSize
      this.search()
    },
    changePage (pageNumber) {
      this.current = pageNumber
      this.search()
    },
    getUser (data) {
      userList(data).then(res => {
        this.tableData = res.data.data
        this.total = res.data.total
      }).catch(err => {
        console.log(err)
      })
    },
    createData () {
      let data = { pageNo: this.current, pageSize: this.pageSize }
      this.getUser(data)
    }
  },
  created () {
    this.isDel = store.state.user.userName
    this.createData()
  }
}
</script>
<style lang="less" scoped>
.search {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  span {
    margin-right: 10px;
  }
  .input {
    margin-right: 30px;
  }
  .reset {
    margin-right: 10px;
  }
}
</style>
