<template>
  <div class="content">
    <div>
      <div class="product">
        <div>
          <p>*</p>
          <span>用户名:</span>
        </div>
        <Input v-model="userName" placeholder="请输入用户名" style="width: 200px"/>
      </div>
      <div class="product">
        <div>
          <p>*</p>
          <span>工号:</span>
        </div>
        <Input v-model="jobNum" placeholder="请输入工号" style="width: 200px" />
      </div>
      <div class="product">
        <div>
          <span>&nbsp;&nbsp;&nbsp;邮箱:</span>
        </div>
        <Input v-model="email" placeholder="请输入邮箱" style="width: 200px" />
      </div>
      <div class="footer">
        <Button type="primary" @click="submit()">提交</Button>
      </div>
    </div>
  </div>
</template>
<script>
import { addUser, getUser, addEditUser } from '@/api/user.js'

export default {
  data () {
    return {
      userName: '',
      email: '',
      jobNum: ''
    }
  },
  methods: {
    submit () {
      let reg = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/
      if (this.email !== '' && !reg.test(this.email)) {
        this.$Message.warning('请输入正确邮箱格式')
        return
      }
      if (this.userName === '' || this.jobNum === '') {
        this.$Message.warning('必填项不能为空')
      } else {
        let data = {
          username: this.userName,
          empNo: this.jobNum,
          email: this.email
        }
        if (this.$route.query.editId) {
          addEditUser(data, this.$route.query.editId).then(res => {
            this.$Message.success('编辑成功')
            this.$router.push({
              name: 'userTable'
            })
          }).catch(err => {
            console.log(err)
          })
        } else {
          addUser(data).then(res => {
            this.$Message.success('添加成功')
            this.$router.push({
              name: 'userTable'
            })
          }).catch(err => {
            console.log(err)
          })
        }
      }
    },
    getUser () {
      getUser(this.$route.query.editId).then(res => {
        this.userName = res.data.username
        this.jobNum = res.data.empNo
        if (res.data.email) {
          this.email = res.data.email
        }
      }).catch(err => {
        console.log(err)
      })
    }
  },
  mounted () {
    if (this.$route.query.editId) {
      this.getUser()
    }
  }
}
</script>
<style scoped lang="less">
.content {
  // width: 1000px;
  display: flex;
  // justify-content: center;
  align-items: center;
}
.content div {
  text-align: center;
}
.product {
  width: 300px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  div {
    width: 66px;
    display: flex;
    align-items: center;
    p {
      color: red;
      font-size: 16px;
      margin-right: 5px;
    }
  }
}
.product span {
  display: inline-block;
  font-weight: 700;
  text-align: left;
}
.footer {
  margin-top: 20px;
}
</style>
