<template>
  <div class="main">
    <div class="search">
      <span>店铺编码:</span>
      <Input v-model="storeCode" placeholder="请输入店铺编码" class="input" />
      <span>自有商品编码:</span>
      <Input
        v-model="productCode"
        placeholder="请输入自有商品编码"
        class="input"
      />
      <span>平台商品编码:</span>
      <Input
        v-model="thirdProductCode"
        placeholder="请输入平台商品编码"
        class="input"
      />
      <Button
        type="primary"
        style="margin-right:10px;margin-left:10px"
        @click="search()"
        >查询</Button
      >
      <Button
        type="primary"
        style="margin-right:10px;margin-left:10px"
        @click="reset()"
        >重置</Button
      >
    </div>
    <div class="search">
      <Button class="reset" type="primary" @click="add()">新增</Button>
      <Button class="reset" type="error" @click="del()">删除</Button>
      <Upload
        @uploadSuccess="uploadSuccess"
        :file-type="fileType"
        style="marginLeft:10px;cursor: pointer;"
      >
        <span style="color:white;margin-right:0">导入</span>
      </Upload>
    </div>
    <Table
      :data="tableData"
      :columns="columns"
      @on-selection-change="onSelectionChange"
    >
      <template slot-scope="{ row, index }" slot="number">
        <span>{{ index + 1 }}</span>
      </template>
      <template slot-scope="{ row }" slot="storeCode">
        <span class="rowEli">{{ row.storeCode }}</span>
      </template>
      <template slot-scope="{ row }" slot="storeName">
        <span class="rowEli">{{ row.storeName }}</span>
      </template>
      <template slot-scope="{ row }" slot="thirdProductCode">
        <span class="rowEli">{{ row.thirdProductCode }}</span>
      </template>
      <template slot-scope="{ row }" slot="productCode">
        <span class="rowEli">{{ row.productCode }}</span>
      </template>
      <template slot-scope="{ row }" slot="productName">
        <span class="rowEli">{{ row.productName }}</span>
      </template>
      <template slot="hisAction" slot-scope="{ row }">
        <Button @click="historyDel(row.id)" type="error">删除</Button>
      </template>
    </Table>
    <div style="margin-top: 10px;overflow: hidden">
      <div style="float: right;">
        <Page
          :total="total"
          :current="pageCurrent"
          :page-size="pageSize"
          :show-total="true"
          show-sizer
          @on-page-size-change="changePageSize"
          @on-change="changePage"
        >
        </Page>
      </div>
    </div>
    <Modal v-model="modal1" footer-hide title="新增信息">
      <div class="modal">
        <div>
          <span class="searchName">店铺编码:</span>
          <Input
            v-model="inputStoreCode"
            placeholder="请输入店铺编码"
            class="input"
          />
        </div>
        <div>
          <span class="searchName">店铺名称:</span>
          <Input
            v-model="inputStoreName"
            placeholder="请输入店铺名称"
            class="input"
          />
        </div>
        <div>
          <span class="searchName">平台商品编码:</span>
          <Input
            v-model="inputThirdProductCode"
            placeholder="请输入平台商品编码"
            class="input"
          />
        </div>
        <div>
          <span class="searchName">自有商品编码:</span>
          <Input
            v-model="inputProductCode"
            placeholder="请输入自有商品编码"
            class="input"
          />
        </div>
        <div>
          <span class="searchName">自有商品名称:</span>
          <Input
            v-model="inputproductName"
            placeholder="请输入自有商品名称"
            class="input"
          />
        </div>
        <Button type="primary" @click="addProduct()">新增</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import moment from "moment";
import { getProduct, deletProduct, addProduct } from "@/api/code.js";
import axios from "axios";
import Upload from "_c/upload";

export default {
  components: {
    Upload
  },
  data() {
    return {
      modal1: false,
      fileType: 2,
      storeCode: "",
      productCode: "",
      thirdProductCode: "",
      columns: [
        { type: "selection", width: 60, align: "center" },
        { title: "序号", width: 60, slot: "number", align: "center" },
        { title: "店铺编码", slot: "storeCode", align: "center" },
        { title: "店铺名称", slot: "storeName", align: "center" },
        { title: "平台商品编码", slot: "thirdProductCode", align: "center" },
        { title: "自有商品编码", slot: "productCode", align: "center" },
        { title: "自有商品名称", slot: "productName", align: "center" },
        { title: "操作", slot: "hisAction", align: "center" }
      ],
      tableData: [],
      total: 0,
      pageCurrent: 1,
      pageSize: 10,
      selectList: [],
      checkList: [],
      inputStoreCode: "",
      inputStoreName: "",
      inputThirdProductCode: "",
      inputProductCode: "",
      inputproductName: ""
    };
  },
  methods: {
    add() {
      this.modal1 = true;
    },
    addProduct() {
      if (
        this.inputStoreCode === "" ||
        this.inputStoreName === "" ||
        this.inputThirdProductCode === "" ||
        this.inputProductCode === "" ||
        this.inputproductName === ""
      ) {
        alert("信息不能为空");
      } else {
        let data = {
          storeCode: this.inputStoreCode,
          storeName: this.inputStoreName,
          thirdProductCode: this.inputThirdProductCode,
          productCode: this.inputProductCode,
          productName: this.inputproductName
        };
        addProduct(data)
          .then(res => {
            this.modal1 = false;
            this.inputStoreCode = "";
            this.inputStoreName = "";
            this.inputThirdProductCode = "";
            this.inputProductCode = "";
            this.inputproductName = "";
            this.$Message.success("新增成功");
            this.createData();
          })
          .catch(err => {
            console.log(err);
          });
      }
    },
    onSelectionChange(selection) {
      this.checkList = selection;
      let list = [];
      selection.forEach((item, index) => {
        list.push(item.id);
      });
      this.selectList = list;
      console.log(this.selectList);
    },
    deleteIndent(data) {
      this.$Modal.confirm({
        title: "提示",
        content: "<p>确定删除吗?</p>",
        onOk: () => {
          deletProduct(data)
            .then(res => {
              this.$Message.success("删除成功");
              this.selectList=[]
              this.createData();
            })
            .catch(err => {
              console.log(err);
            });
        },
        onCancel: () => {}
      });
    },
    historyDel(id) {
      let data = { ids: [id] };
      this.deleteIndent(data);
    },
    del() {
      let data = { ids: this.selectList };
      if(this.selectList.length==0){
         this.$Message.warning("删除内容不能为空");
      }else{
         this.deleteIndent(data);
      }
    },
    uploadSuccess(data, name) {
      this.$Message.success("上传成功");
      this.createData();
    },
    selectChange(val) {
      this.productCode = val;
    },
    publicData() {
      let data = {
        storeCode: this.storeCode,
        productCode: this.productCode,
        thirdProductCode: this.thirdProductCode,
        pageNum: this.pageCurrent,
        pageSize: this.pageSize
      };
      this.getCode(data);
    },
    changePageSize(pageSize) {
      this.pageCurrent = 1;
      this.pageSize = pageSize;
      this.publicData();
    },
    changePage(pageNumber) {
      this.pageCurrent = pageNumber;
      this.publicData();
    },
    search() {
      this.pageCurrent = 1;
      this.publicData();
    },
    reset() {
      this.storeCode = "";
      this.thirdProductCode = "";
      this.productCode = "";
      this.createData();
    },
    createData() {
      let data = {
        pageNum: this.pageCurrent,
        pageSize: this.pageSize
      };
      this.getCode(data);
    },
    getCode(data) {
      getProduct(data)
        .then(res => {
          this.tableData = res.data.result.list;
          this.total = res.data.result.total;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  created() {
    // this.createData();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.main {
  /* text-align: center; */
}
.modelContent {
  p {
    color: red;
  }
}
.deleteImg {
  width: 16px;
  height: auto;
  cursor: pointer;
}
.imgContent {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.uploadBox {
  position: relative;
  top: 15px;
  margin-bottom: 18px;
}
.main /deep/ .ivu-table-wrapper {
  overflow: visible;
}
.search {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  span {
    margin-right: 10px;
  }
  .input {
    margin-right: 30px;
    width: 150px;
  }
  .reset {
    margin-right: 10px;
  }
}
#app /deep/ .ivu-modal-body {
  text-align: center;
}
.see {
  cursor: pointer;
  color: #169bd5;
}
.product {
  margin-top: 15px;
  display: flex;
  align-items: center;
  span {
    width: 80px;
  }
}
.uploadImg {
  width: 65px;
  height: 65px;
  margin-right: 10px;
}
.red {
  color: red;
}
.rowEli {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input {
  margin-right: 30px;
  width: 150px;
}
.searchName {
  display: inline-block;
  width: 100px;
}
.modal {
  text-align: center;
  div {
    margin-bottom: 8px;
  }
}
</style>
