<template>
  <div class="container">
    <div class="content">
      <p class="title">请开始你的后台管理</p>
    </div>
  </div>
</template>

<script>

export default {
  name: 'home',
  data () {
    return {}
  }
}
</script>

<style lang="less" scoped>
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  .content {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      width: 232px;
      height: 76px;
    }
    .title {
      margin-top: 30px;
      font-size: 28px;
      line-height: 40px;
      color: #838383;
      font-weight: bold;
    }
  }
}
</style>
