@import "~iview/src/styles/index.less";

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

.content-page {
  background-color: #fff;
  min-height: 85vh;
  padding: 20px;
  border-radius: 5px;
}
.flex{
  display: flex;
}
.tree-node {
  height: 40px;
  line-height: 40px;
}
.tree-node .active{
  color: #006ff3;
}
.tree-node .ivu-icon{
  font-size: 20px;
}
.tree-node .ivu-btn{
  padding-top: 0px;
  padding-bottom: 0px;
}
.ivu-select-dropdown{
  z-index: 1000000 !important;
}
.main-button {
  width: 100px;
}
.reset-button {
  margin-left: 20px;
  width: 60px;
}
.sub-button {
  width: 60px;
}
.mini-button {
  width: 44px;
}
.v-transfer-dom > div {
  z-index: 1000001 !important;
}
.ivu-modal-confirm-footer > button {
  width: 80px;
}
.ivu-spin-fullscreen-wrapper {
  z-index: 1000001 !important;
}